html,
body {
    background-color: #4b4b4b;
    color: white;
}

html,
a {
    color: white;
}

a:hover {
    color: #72bb74;
}

.flash-message {
    position: fixed;
    top: 50px;
    right: 5%;
    z-index: 1000;
}